exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(foreach,"%dopar%")
importFrom("grDevices", "colorRampPalette", "dev.off", "png")
importFrom("graphics", "par", "plot")
importFrom("methods", ".hasSlot", "as", "slot")
importFrom("stats", "as.formula", "predict")
importFrom("utils", "read.csv", "write.csv", "write.table")
useDynLib(sptemExp)
